.show-grid {
    padding-left: 10px;
  }
  .btn_view {
    background-color: #007251;
    color: white;
    height: 38px;
    width: 90px;
    margin-top: 60px;
    margin-left: 230px;
    margin-bottom: 20px;
    border-radius: 0.4cm;
    font-size: medium;
  }
  .btn_view:hover {
    color: white;
    background-color:#31a584 ;
    border: 2px solid #007251;
  }
  
  .modal_details {
    background-color: rgb(172, 110, 187);
    color: white;
  }
  .closeButton {
    color: white;
  }