html, body{
    margin: 0;
    padding: 0;
}

.home{
    background-color: #43ab9b;
    padding: 10px 70px 10px 70px;
}

.navbar-list {
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    font-size: 18px;
}

.hackname {
    float: left;
    text-decoration: none;
    color: #fffefe;
}

.problems {
    float: right;
    margin-left: 70%;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: #fffefe;
}

a:link {
    color: #ffffff;
    background-color: transparent;
    text-decoration: none;
}
  
a:visited {
    color: #ffffff;
    background-color: transparent;
    text-decoration: none;
}
  
a:hover {
    color: #ffffff;
    background-color: transparent;
    text-decoration: underline;
}
  
a:active {
    color: #ffffff;
    background-color: transparent;
    text-decoration: underline;
}

@media (max-width: 896px){
    .home{
        background-color: #43ab9b;
        padding: 0px 20px 0px 20px;
    }

    .navbar-list {
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        font-size: 14px;
    }

    .problems {
        float: right;
        margin-left: 25%;
        display: block;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        color: #fffefe;
    }
    
    a:link {
        color: #ffffff;
        background-color: transparent;
        text-decoration: none;
    }
      
    a:visited {
        color: #ffffff;
        background-color: transparent;
        text-decoration: none;
    }
      
    a:hover {
        color: #ffffff;
        background-color: transparent;
        text-decoration: underline;
    }
      
    a:active {
        color: #ffffff;
        background-color: transparent;
        text-decoration: underline;
    }
}

