.register-btn {
	background-color: #569686;
	padding: 6px 10px;
	border: 1px solid transparent;
	border-radius: 5%;
	height: fit-content;
}
.register-bg {
	/* padding-top: 20px; */
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 12px;
	height: 90px;
	width: 100%;
	background-color: #0a4845;
}

a:link,
a:visited {
	/*background-color: #569686;
  padding: 14px 25px; */
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: clamp(15px, 15px, 22px);
	font-style: oblique;
	font-weight: 450;
}

a:hover,
button:hover,
a:active {
	background-color: #2d7362;
}
